/****************
General
*****************/

body {
	font-family: 'Raleway', sans-serif;
}

#wrapper {
	min-width: 100%;
	max-height: 1024px;
	margin: 0 auto;
	
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}



/****************
Heading
*****************/

#logo {
	text-align: center;
	margin: 0;
}

h1 {
	font-family: 'Lato', sans-serif;
	margin:15px 0;
	font-size: 3em;
	font-weight: normal;
	line-height: 0.8em;
	text-align: left;
	margin-left: 7%;
	position: absolute; top: 7px;
}


.main-header {
  /*padding-top: 170px;*/
  
  max-width: 100%;
  background-size: cover;

  /*background: #888 url('../images/IMG_0005.jpg') no-repeat center;*/
}

#container{
	max-height: 450px;
	width: 100%;
	position: top;
}



/****************
Navigation
*****************/

nav {
	text-align: right;
	padding: 10px 20px;
/*	margin: 20px 0 0;
*/	list-style-type: none;
	padding-right: 20px;
	word-spacing: 20%;
	font-size: 1.5em;
}

nav ul li { 
	display: inline; 
	margin-left: 20px;
}



/****************
footer
*****************/

footer {
	font-size: 1em;
	text-align: center;
	clear: both;
	padding-top: 35px;
	color: #111;
	margin-left: auto;
	
}



/****************
portfolio
*****************/

#gallery {
	
	padding: 0;
	list-style: none;
}

#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #f5f5f5;
	color: #bdc3c7;
}

#gallery li a p {
	margin: 0;
	padding: 5%;
	font-size: 1em;
	color: #bdc3c7;
}

img {
	max-width: 100%;
}

#main_gallery {
	text-align: center;
}



/****************
colors
*****************/


/* grey header */
header {
	border-bottom: 5px solid #111;
  	margin-bottom: 60px;
}

/* nav background on mobile */
nav {
	background: #555;
}

/* logo text */
h1, h2 {
	color: #fff;
}

/* links */
a {
	color: #999999;
}

/* nav link */
nav a, nav a:visited {
	color: #fff;
}

/* selected nav link color */
nav a.selected, nav a:hover {
	color: #1c1c1c;
}

/* site body */
body {
	background-color: #fff;
	color: #999;


}


/****************
slider
*****************/




